<?xml version="1.0" encoding="utf-8"?>
<settings>
<category label="hulu">
        <setting label="label1" type="text"   id="username" default=""/>
        <setting label="label2" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting label="label3" type="slider" id="limit" subsetting="true" default="20" range="5,5,100" option="int" />
        <setting label="تنظیمات" type="lsep"/>
        <setting id="debug" type="bool" label="label4" default="false"/>
    </category>
    <category label="سلام">
        <setting label="label5" type="action" action="RunScript(script.MRS2,param1,param2)"/>
		<setting id="id_select" type="select" label="Select" values="One|Two|Three|Four" />
		<setting id="record_time" type="time" label="Time" default="13:13"/>
		<setting id="record_date" type="date" label="Date" default="2015-03-12"/>
		<setting label="32053" type="slider" id="limit" default="20" range="5,5,100" option="int" />
        <setting label="32053" type="slider" id="limit" default="20" range="0,100"/>
		 <setting id="id_addon" type="addon" label="Addon" default="" addontype="xbmc.metadata.scraper.movies"  multiselect="true" />
		   <setting label="32018" type="enum" id="service1" values="One|Two|Three|Four"/>
    <setting label="32019" type="labelenum" id="service2" values="One|Two|Three|Four"/>
    <setting label="32020" type="labelenum" id="service3" lvalues="32021|32022|32023|32024"/>
    <setting label="EnumHours" type="enum" id="default_enumhours" values="$HOURS" />
	  <setting label="32033" type="file" id="file" value="path_to_files"/>
	  <setting label="FOLDER" type="folder" id="folder" source="auto" option="writeable"/>
	   <setting id="myenum" type="fileenum" values="resources" mask="/"/>
    </category>
	
</settings>